{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "frontend" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Conferize is looking for a Remote Senior Frontend Developer</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> JS Frameworks, Angular or React        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/conferize-senior-frontend-developer" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "blockchain" or subscriber.tags contains "frontend" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>PayBear is looking for a Remote DAPP Developer (Solidity)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Solidity, Node, React        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/paybear-dapp-developer-solidity" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "design" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Filament Games is looking for a Remote Unity UX Design Consultant.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> UI/UX/IX design experience for apps or games, Unity UI Tools        </div>
        <div>
          <a href="http://www.justuxjobs.com/job/7443/unity-ux-design-consultant-contract-remote-at-filament-games/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "php" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>AAVSO is looking for a Remote Drupal Contractor for a migration project</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> PHP, Drupal, MySQL, Some Django        </div>
        <div>
          <a href="https://jobs.drupal.org/american-association-variable-star-observers-aavso/job/14909" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "copywriting" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Freelance Content Writer needed for ongoing project consisting of weekly supply chain related blogs targeting businesses.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Technical Writing        </div>
        <div>
          <a href="https://feeds.feedblitz.com/~/537528844/0/problogger/jobs~Content-Creator-Supply-Chain-Management/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "copywriting" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Content Conquered is looking for a Freelance Technical/Data Management Writer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Writing about data management topics        </div>
        <div style="margin-bottom: 5px;">
          <strong>Budget: </strong> $0.10 per word        </div>
        <div>
          <a href="https://feeds.feedblitz.com/~/537449388/0/problogger/jobs~TechnicalData-Management-Writer/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "copywriting" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>A Marketing Blog is looking for a Freelance Writer to write about e-commerce and marketing related topics.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Writing about marketing topics        </div>
        <div>
          <a href="https://feeds.feedblitz.com/~/537283998/0/problogger/jobs~Writer-for-a-nice-ecommerce-online-business-marketing-blog/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "python" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>OpenOpps.com is looking for a Remote Junior Python Web Developer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Django, HTML, CSS and Javascript, SQL        </div>
        <div>
          <a href="https://www.remotepython.com/jobs/ccc68bbed04047d4b5ebe53f5fae2fdc/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "parttime" %}
  {% if subscriber.tags contains "python" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>EM13 is looking for a Remote Python/Django Developer</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Part-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Big Data, Celery, Django, Docker        </div>
        <div>
          <a href="https://www.remotepython.com/jobs/9711b80b35e148f6b1da36b5b4539053/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "php" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>GigSalad is looking for a Remote Full Stack PHP Web Developer</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> PHP, HTML, CSS, JS, React, Node        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/gigsalad-full-stack-php-web-developer" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "ruby" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Podia: Ruby on Rails Developer</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Ruby on Rails, PostgreSQL        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/podia-ruby-on-rails-developer" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "java" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Noxy is looking for Remote Game Developers with C# and Java experience.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> experience either in Voxel Games, Minecraft Servers are ++'s        </div>
        <div>
          <a href="https://news.ycombinator.com/item?id=16789298" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "python" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Radikalus is looking for a Remote Python Developer to create a simple Python micro service template.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Python        </div>
        <div>
          <a href="https://news.ycombinator.com/item?id=16778368" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "ios" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Looking for experienced experienced Mac developer with experience in desktop apps.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Objective C, Swift        </div>
        <div>
          <a href="https://news.ycombinator.com/item?id=16740250" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "net" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Ghost Note App is looking for windows developer with experience in windows development for a time tracking app.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> WinAPI, (C/C++) and .NET for UI (C#)        </div>
        <div>
          <a href="https://news.ycombinator.com/item?id=16740250" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "php" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Ghost Note App is looking for a PHP/JS Developer for a productivity platform.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> PHP, JS, Laravel        </div>
        <div>
          <a href="https://news.ycombinator.com/item?id=16740250" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "design" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Relationship Hero is seeking an experienced Remote UI/UX designer to help polish its mobile web UI</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> UI/UX Design        </div>
        <div>
          <a href="https://news.ycombinator.com/item?id=16739305" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "parttime" %}
  {% if subscriber.tags contains "seo" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Great Work Online is looking for a Remote Youtube SEO Expert.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Part-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> 1 year of experience in optimizing Youtube videos        </div>
        <div>
          <a href="https://ca.indeed.com/cmp/Great-Work-Online/jobs/Remote-Work-33a27c21c819e4ec?q=remote+seo&vjs=3" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "node" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>AgentSelly is looking for a Remote Meteor/NodeJS backend developer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Meteor, NodeJS        </div>
        <div>
          <a href="https://www.weworkmeteor.com/jobs/Nq5XqrCG4B4B2h6h3/senior-meteor-nodejs-backend" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "node" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Paytogether is looking for a Remote Node developer for their payments platform.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> JavaScript, Node.js, and NPM        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/paytogether-node-developer" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "frontend" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Optima Consortium is looking for a Remote Front-End Developer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> VueJS or Angular, D3.js        </div>
        <div>
          <a href="https://vuejobs.com/jobs/320-frontend-full-stack-developer" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
