{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "design" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Exygy is looking for a Visual Designer Contractor (UI)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> UI, design principles, color theory, typography, Sketch        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/exygy-visual-designer-contractor-ui" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "design" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>GMB is looking for a Remote UX / UI Designer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> UX/UI, Sketch, Adobe Suite        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/gmb-ux-ui-designer" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "parttime" %}
  {% if subscriber.tags contains "php" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Senior Laravel and/or Vue.js Developer</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Part-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Laravel, VueJS        </div>
        <div>
          <a href="https://larajobs.com/job/1143" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "design" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Alliance for a Healthier Generation is looking for a Temporary Remote UX/UI Designer until August 31, 2018.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> UX design experience        </div>
        <div>
          <a href="http://www.justuxjobs.com/job/7403/uxui-designer-temporary-at-alliance-for-a-healthier-generation/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "seo" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Blockchain + Music Content Specialist + Growth Hacker</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Copywriting, Blockchain Knowledge, Content Marketing, Music Knowledge        </div>
        <div>
          <a href="https://cjl.ist/2qtkUvJ" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "copywriting" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Valnet is looking for a Remote Freelance Quiz Writer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Writing background        </div>
        <div>
          <a href="https://feeds.feedblitz.com/~/538599140/0/problogger/jobs~Freelance-Quiz-Writer/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "copywriting" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Pinkat Media is looking for a Remote Content Writer for Product Buying Guides & Reviews.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Native in English, Engaging an easy to follow tone        </div>
        <div>
          <a href="https://feeds.feedblitz.com/~/538613264/0/problogger/jobs~Content-Writer-for-Product-Buying-Guides-amp-Reviews/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "python" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Full Stack Web Developers (Django / Python)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Python, Django        </div>
        <div>
          <a href="https://djangogigs.com//gigs/2101/" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "frontend" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>A company is looking for a Freelance Developer to customize Rocket.Chat components for an hourly contract.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Rocket.Chat        </div>
        <div>
          <a href="https://www.weworkmeteor.com/jobs/RMBiE5phyJNB2MTj6/rocket-chat-customization" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "frontend" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Front-End Developer (remote)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> HTML, CSS, and JavaScript Frameworks        </div>
        <div>
          <a href="https://www.keycdn.com/careers" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "ruby" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Ruby On Rails Software Developer</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Ruby, Agile, JS        </div>
        <div>
          <a href="https://remoteok.io/jobs/66544" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "php" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>PingPong is looking for application and website testers.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Software Testing        </div>
        <div>
          <a href="https://hellopingpong.com/become-a-tester/?utm_source=remoteok&utm_medium=jobpost&utm_campaign=general-recruit?ref=remoteok" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "freelance" %}
  {% if subscriber.tags contains "python" or subscriber.tags contains "ruby" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Foxbox is looking for Freelance Full-stack Developer (Python, React, Ruby or Elixir)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Python, React, Ruby or Elixir        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/foxbox-freelance-full-stack-developer-python-react-ruby-or-elixir" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% elsif subscriber.tags contains "frontend" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Foxbox is looking for Freelance Full-stack Developer (Python, React, Ruby or Elixir)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Freelance
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Python, React, Ruby or Elixir        </div>
        <div>
          <a href="https://weworkremotely.com/remote-jobs/foxbox-freelance-full-stack-developer-python-react-ruby-or-elixir" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "java" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>Elastic is looking for a Remote Core Java Engineer.</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> Java, Elastic Search        </div>
        <div>
          <a href="https://stackoverflow.com/jobs/163632/core-java-engineer-elasticsearch-distributed-elastic?a=SSnyXSOjoFG" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
{% if subscriber.tags contains "fulltime" %}
  {% if subscriber.tags contains "ios" or subscriber.tags contains "java" %}
    <div class="job" style="background:#f0f0f0;border-top:2px solid #6534ff;line-height:1.4em;margin:12px 20px 20px 20px;max-width:640px;padding:12px 16px">
      <div class="title" style="margin-bottom: 10px;">
        <strong>O'Reilly Auto Parts is looking for a Remote Mobile Developer (iOS or Android)</strong>
      </div>
      <div class="description">
        <div style="margin-bottom: 5px;">
          <strong>Position Type: </strong>
                        Full-time
                  </div>
        <div style="margin-bottom: 5px;">
          <strong>Skills: </strong> UX/UI, Frontend Design, Java or Objective C        </div>
        <div>
          <a href="https://stackoverflow.com/jobs/173996/mobile-developer-ios-or-android-oreilly-auto-parts?a=WlSoT1Byq2Y" class="details" style="text-align: center;"><strong>View Full Details</strong></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
